<!DOCTYPE html>
<html ng-app="my-app">
<head>
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
    <script src="https://unpkg.com/onsenui/js/angular-onsenui.min.js"></script>
    <style type="text/css">
        .box {
            float: left;
            width: 40%;
        }

        .boxContainer {
            overflow: hidden;
        }

        /* clearfix */
        .boxContainer:before,
        .boxContainer:after {
            content: "";
            display: table;
        }

        .boxContainer:after {
            clear: both;
        }

        /* For IE 6/7 (trigger hasLayout) */
        .boxContainer {
            zoom: 1;
        }
    </style>

</head>
<body>

<ons-page ng-controller="TabbarController">
    <ons-toolbar>
        <div class="center">{{title}}</div>
    </ons-toolbar>

    <ons-tabbar swipeable position="auto" ons-prechange="updateTitle($event)">
        <ons-tab page="home.html" label="Home" icon="ion-home, material:md-home" active>
        </ons-tab>
        <ons-tab page="item.html" label="Item" icon="ion-ios-pricetag, material:md-home">
        </ons-tab>
        <ons-tab page="schedule.html" label="Schedule" icon="ion-calendar, material:md-home">
        </ons-tab>
        <ons-tab page="setting.html" label="Setting" icon="ion-gear-b">
        </ons-tab>
    </ons-tabbar>
</ons-page>
</ons-template>

<!--Home template-->
<template id="home.html">
    <ons-page id="Home" ng-controller="HomeController">
        <ons-select id="choose-sel" ng-model="selectedLiftId" ng-change="onSelect()">
            <option ng-repeat="d in devices" value={{d.liftId}}>{{d.deviceId}}</option>
        </ons-select>

        <ons-card>
            <img ng-src="{{data.imageLift}}" alt="Lift Status" style="width: 100%">
            <div class="title">
                {{data.deviceId}}
            </div>
            <div class="content">
                <div>
                    <ons-button>
                        <ons-icon icon="ion-edit"></ons-icon>
                    </ons-button>
                    <ons-button>
                        <ons-icon icon="ion-ios-trash"></ons-icon>
                    </ons-button>
                </div>
                <ons-list>
                    <ons-list-header>Status</ons-list-header>
                    <ons-list-item>Lift Status is {{data.liftStatus}}</ons-list-item>
                    <ons-list-item>Item Status is {{data.itemStatus}}</ons-list-item>
                    <ons-list-header>Event</ons-list-header>
                    <ons-list-item>event</ons-list-item>
                    <ons-list-header>Schedule</ons-list-header>
                    <ons-list-item>schedule item</ons-list-item>
                </ons-list>
            </div>
        </ons-card>

        <br>

    </ons-page>
</template>

<!--Item template-->
<template id="item.html">
    <ons-page id="item" ng-controller="ItemController as item">
        <p style="text-align: center">
            <img src='/images/weight.png' alt='' style="width:10%;height:10%; vertical-align:middle;">
            <span style="vertical-align:middle; font-size: 300%">{{data.item.weight}} g</span>
        </p>

        <p style="text-align: center; font-size: 300%">
            <ons-input id="name" modifier="underbar" placeholder="Type your item name" ng-model="data.item.name" float>
            </ons-input>
        </p>

        <p style="margin-top: 30px;">
            <ons-button ng-click="update()">Update</ons-button>
        </p>
    </ons-page>
</template>
<!--
<template id="schedule.html">
    <ons-page id="Schedule" ng-controller="ScheduleController">

        <ons-pull-hook ng-action="load($done)" var="loader">
            <span ng-switch="loader.state">
                <span ng-switch-when="initial"><ons-icon size="35px" icon="ion-arrow-down-a"></ons-icon> Pull down to refresh</span>
                <span ng-switch-when="preaction"><ons-icon size="35px" icon="ion-arrow-up-a"></ons-icon> Release to refresh</span>
                <span ng-switch-when="action"><ons-icon size="35px" spin="true" icon="ion-load-d"></ons-icon> Loading data...</span>
            </span>
        </ons-pull-hook>

        <ons-card ng-repeat="schedule in data.schedules">
            <div class="title">
                Schedule of {{schedule.name}} in {{data.deviceId}}
            </div>
            <div class="content">
                <div>
                    <ons-button><ons-icon icon="ion-edit"></ons-icon></ons-button>
                    <ons-button><ons-icon icon="ion-ios-trash"></ons-icon></ons-button>
                </div>
                <ons-list>
                    <ons-list-header>Details</ons-list-header>
                    <ons-list-item>Date: {{schedule.date}}</ons-list-item>
                    <ons-list-item>Status: {{schedule.status}}</ons-list-item>
                    <ons-list-item>{{schedule.description}}</ons-list-item>
                </ons-list>
            </div>
        </ons-card>
        <ons-fab position="bottom right">
            <ons-icon ng-click="update()" page="" icon="md-plus"></ons-icon>
        </ons-fab>

        <p style="text-align: center;font-size: 300%">
            <div>
                <ons-input id="date" modifier="underbar" type="datetime-local" ng-model="scheduleDate" placeholder="yyyy-MM-ddTHH:mm:ss" float></ons-input>
                <ons-input id="scheduleName" modifier="underbar" ng-model="scheduleName" placeholder="schedule name" float></ons-input>
                <ons-input id="scheduleDescrition" modifier="underbar" ng-model="scheduleDescription" placeholder="schedule description" float></ons-input>
            </div>
        </p>
        <p style="text-align: center">

        </p>
    </ons-page>
</template>
-->


<template id="setting.html">
    <ons-page id="Setting">
        <p style="text-align: center;">
            This is the second page.
        </p>
    </ons-page>
</template>

<script src="js/app.js"></script>
<script src="js/TabbarController.js"></script>
<script src="js/ItemController.js"></script>
<script src="js/ScheduleController.js"></script>
<script src="js/HomeController.js"></script>

</body>
</html>